<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Selection</title>
</head>
<body>
    <h1>Select Model Type</h1>
    <form method="POST">
        <input type="radio" id="regression" name="model_type" value="regression">
        <label for="regression">Regression</label><br><br>
        <input type="radio" id="classification" name="model_type" value="classification">
        <label for="classification">Classification</label><br><br><br>
        <input type="submit" value="Next">
    </form>
</body>
</html>
