<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression Input</title>
</head>
<body>
    
    <h1>Enter Regression Input Values</h1>
    <form method="POST" action="/predict_regression">

        <input type="text" name="Month" placeholder="Month"><br><br>
        <input type="text" name="Category" placeholder="Category"><br><br>
        <input type="text" name="Colour" placeholder="Colour"><br><br>
        <input type="text" name="Picture Location" placeholder="Location"><br><br>
        <input type="text" name="Model-Photography" placeholder="Model - Photography"><br><br>
        <input type="text" name="Product Code" placeholder="Product Code"><br><br>
        <!-- Add more input fields as needed -->
        <input type="submit" value="Predict">
    </form>
</body>
</html>
